<body>
  <div class="callout callout--primary">
    <div class="grid grid--1X2">
      <div class="callout__content">
        <h3 class="callout__heading">Ready to Get Started?</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
          consequuntur magni voluptates totam minus reiciendis deleniti velit
          mollitia incidunt dolores.
        </p>
      </div>
      <div class="callout__button">
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
      </div>
    </div>
  </div>
</body>
