<section class="block block--dark block--skewed-right block-showcase">
  <div class="grid grid--1X2">
    <img src="images/fast.jpg" alt="Showcase Image" />
    <div class="media block-showcase__content">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#computer"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start and Managed Updates
        </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse magni
          rerum distinctio corrupti obcaecati laudantium animi dolor nostrum
          odit ea!
        </p>
      </div>
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#computer"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start and Managed Updates
        </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse magni
          rerum distinctio corrupti obcaecati laudantium animi dolor nostrum
          odit ea!
        </p>
      </div>
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#computer"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start and Managed Updates
        </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse magni
          rerum distinctio corrupti obcaecati laudantium animi dolor nostrum
          odit ea!
        </p>
      </div>
    </div>
  </div>
</section>
