<section class="block">
  <header class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      voluptates nam sunt accusantium officia temporibus consequuntur nostrum
      tempore accusamus inventore.
    </p>
  </header>
  <div class="container">
    <div class="card" style="padding: 4rem; margin: 2rem">
      <div class="testimonial grid grid--1X2">
        <div class="testimonial__image">
          <img src="../images/testimonial.jpg" alt="A happy customer" />

          <!-- <div style="height: 50px; background: gold"></div> -->
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white">
              <use xlink:href="../images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
            ipsa voluptatibus ex ducimus tempore eaque magni qui esse, ipsam
            quae.
          </p>

          <footer>
            <div class="media">
              <div class="media__image quote__line">
                <svg class="icon icon--primary">
                  <use xlink:href="../images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
